.friends {
    margin-left: 200px;
}

.friends_yourChoices {
    width: 33%;
    float: left;
}
.friends_yourChoicesLabel {
    display: flex;
    justify-content: center;
    padding: 10px 30% 10px 10px;
    margin: 0px;
    border-style: solid;
    border-width: 1px;
}

.friends_ChoicesLabel {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px; 
    margin: 0px;
    border-style: solid;
    border-width: 1px;
    width: 220px;
}

.friends_mealPeriod {
    text-align: left;
    border-style: solid;
    border-width: 1px;
    height: 150px;
    padding: 10px;
    margin: 0px;
}

.friends_mealPeriod_box {
    text-align: left;
    border-style: solid;
    border-width: 1px;
    width : 200px;
    height: 150px;
    padding: 10px;
    margin: 0px;
}

.friendschoice{
    margin-top: 10px;
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
    -webkit-overflow-scrolling: touch;
  }
  
  .indfriend{
    text-align: left;
    margin: 3px;
    flex-shrink: 0;
    width: 20rem;
    padding-left: 10px;
    float: left
  }
  
  .box {
    border-style: solid;
      border-width: 1px;
      height: 150px;
      padding: 10px;
      margin: 0px;
  }
/*
  .friends_searchBar {
    text-align: right;
    padding-right: 15px;
    margin: 20px 20px 40px 50%;
    border-style: solid;
    border-width: 1px;
}

.friends_mealPeriod {
    text-align: left;
    border-style: solid;
    border-width: 1px;
    height: 150px;
    padding: 10px;
    margin: 0px;
}
.friends_friendChoices {
    width: 100px;
    
    float: left;
    
    overflow-y: hidden;
    
    white-space: nowrap;
    
}
.friends_friendChoicesLabel {
    text-align: left;
    padding: 10px 10px 10px 10%;
    margin: 0px;
    border-style: solid;
    border-width: 1px;
}
*/