.friends {
    margin-left: 200px;
}

.friends_yourChoices {
    width: 33%;
    float: left;
}
.friends_yourChoicesLabel {
    display: flex;
    justify-content: center;
    padding: 10px 30% 10px 10px;
    margin: 0px;
    border-style: solid;
    border-width: 1px;
}

.add {
    display:flex;
    white-space: nowrap;
}

.test{
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;
}

.friends_ChoicesLabel {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px; 
    margin: 0px;
    border-style: solid;
    border-width: 1px;
    width: 220px;
}

.friends_mealPeriod {
    text-align: left;
    border-style: solid;
    border-width: 1px;
    height: 150px;
    padding: 10px;
    margin: 0px;
}

.friends_mealPeriod_box {
    text-align: left;
    border-style: solid;
    border-width: 1px;
    width : 200px;
    height: 150px;
    padding: 10px;
    margin: 0px;
}

.friendschoice{
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
    -webkit-overflow-scrolling: touch;
  }

  .usernamelist {
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }

  .nickname{
    margin-right: 1em;
    margin-left: 1em;
    flex-shrink: none;
  }