.friends {
    margin-left: 200px;
}

.friends_searchBar {
    margin: 15px 0px 0px 15px;
}

.friends_yourChoices {
    width: 220px;
    float: left;
}
.friends_yourChoicesLabel {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0px;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
}

.friends_add {
    display:flex;
    white-space: nowrap;
    margin: 10px 0px 5px 15px;
}

.friends_ChoicesLabel {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px; 
    margin: 0px;
    border-style: solid;
    border-width: 1px;
    width: 220px;
    font-weight: bold;
}

.friends_mealPeriod {
    text-align: left;
    border-style: solid;
    border-width: 1px;
    height: 150px;
    padding: 10px;
    margin: 0px;
}

.friends_friendschoice{
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
    -webkit-overflow-scrolling: touch;
  }

  .friends_mealPeriod_box {
    text-align: left;
    border-style: solid;
    border-width: 1px;
    width : 200px;
    height: 150px;
    padding: 10px;
    margin: 0px;
}

  .usernamelist {
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }

  .nickname{
    margin-right: 1em;
    margin-left: 1em;
    flex-shrink: none;
  }