.home {
    margin-left: 200px;
    text-align: center;
}
.home_header {
    border-style: solid;
    border-width: 1px;
    padding: 25px;
}
.home_mealPeriod {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}